<ion-content>

  <ion-row>
      <ion-col size="3">
        <ion-item>
          <ion-input
            label="Name" labelPlacement="stacked"
            placeholder="Nome:" [(ngModel)]="newUserName"
          >
          </ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="3">
        <ion-item>
          <ion-input
            label="Cidade" labelPlacement="stacked"
            placeholder="Cidade:" [(ngModel)]="newUserCidade"
          >
          </ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="3">
        <ion-item>
          <ion-input
            label="Email" labelPlacement="stacked"
            placeholder="Email:" [(ngModel)]="newUserEmail"
          >
          </ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="3">
        <ion-button
          (click)="createUser()" expand="block" fill="outline">
          <ion-icon name="add" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
  </ion-row>

  <ion-item *ngFor="let user of userList">
      <ion-checkbox
      aria-label="Label"
      slot="start"
      [ngModel]="user.active"
      (ionChange)="updateUser(user)" >
      </ion-checkbox>

      <div *ngIf="!user.isEditing">
        <span>{{ user.id }} - {{ user.name }} - {{ user.cidade }} - {{ user.email }} - {{ user.active }}</span>
      </div>

      <div *ngIf="user.isEditing">
        <ion-input [(ngModel)]="user.editName" placeholder="Name"></ion-input>
        <ion-input [(ngModel)]="user.editCidade" placeholder="Cidade"></ion-input>
        <ion-input [(ngModel)]="user.editEmail" placeholder="Email"></ion-input>
      </div>

      <ion-button slot="end" (click)="user.isEditing ? saveUser(user) : editUser(user)" fill="clear" color="primary">
        <ion-icon [name]="user.isEditing ? 'save' : 'create'" slot="icon-only"></ion-icon>
      </ion-button>

      <ion-button slot="end" (click)="deleteUser(user)" fill="clear" color="danger">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
  </ion-item>

</ion-content>
